body{
padding-top:100px;
}

th{
}
padding:10px;
}

#clients {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#clients td, #customers th {
border: 1px solid #ddd;
padding: 8px;
}

#clients tr:nth-child(even){background-color: #f2f2f2;}

#clients tr:hover {background-color: #ddd;}

#clients th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #a6f77b;
color: white;
}
#card {
background: #fbfbfb;
border-radius: 8px;
box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
height: 1000px;
margin: 6rem auto 8.1rem auto;
width: 500px;
}
#card-content {
padding: 12px 44px;
}
#card-title {
font-family: "Raleway Thin", sans-serif;
letter-spacing: 4px;
padding-bottom: 23px;
padding-top: 13px;
text-align: center;
}
.underline-title {
background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
height: 2px;
margin: -1.1rem auto 0 auto;
width: 89px;
}