.logo{
height:50px;
width:150px;
}
.bg-dark {
    background-color: black;
}
.navbar-light .navbar-toggler {
    border-color: gold;
}
@media screen and (max-width:650px){
#carimg{
height:300px;
}
.logo{
height:40px;
width:100px;
}
}