.underline-title {
background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
height: 2px;
margin: -1.1rem auto 0 auto;
width: 400px;
}
th{
padding:10px;
}

#clients {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#clients td, #customers th {
border: 1px solid #ddd;
padding: 8px;
}

#clients tr:nth-child(even){background-color: #f2f2f2;}

#clients tr:hover {background-color: #ddd;}

#clients th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: black;
color: white;
}
body{
margin-top:90px;
}
h2, h4 {
    text-align: center;
}
#card-content {
padding: 100px 1px;
}
@media screen and (max-width: 650px) {
body{
margin-top:60px;
margin-bottom:200px;
}
h2{
font-size:20px
}
h4{
font-size:17px
}
.d-none {
    display: initial;
}
.underline-title {
background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
height: 2px;
margin: -0.9rem auto 0 auto;
width: 250px;
}
th, td{
font-size:12px;
}
button{
font-size:10px;
}
}