.underline-title {
background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
height: 2px;
margin: -1.1rem auto 0 auto;
width: 89px;
}
body{
margin-top:90px;

}

@media screen and (max-width: 650px) {
body{
margin-top:50px;
margin-bottom:200px;
}
.d-none {
    display: initial;
}
}