body{
margin-top:100px;
margin-bottom: 150px;
}
h2 {
    text-align: center;
}
.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 200px;
  margin-bottom: 20px;
}