{%extends "base.html"%} {% load static %} {% load bootstrap4 %} {% block content %}   {%include 'navbar.html'%}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
         <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>LOGIN</h2>
        <div class="underline-title"></div>
      </div>
      <form method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
<input id="submit-btn" type="submit" name="submit" value="LOGIN" />            </form>
    </div>
  </div>
    </div>

</body>

</html>
{%endblock%}