{%extends 'base.html'%} {%load static%} {%block content%} {% load bootstrap4 %}
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body style="background-color:;">
  <div class="footer">
  <p>Contact Info</p>
      <p>Telephone: +254712345678</p>
      <p>Email:nkbmicbang@mail.com</p>
      <p>© 2023 NKB Mic Bank</p>
</div>
</body>

{%endblock%}