{%extends "base.html"%} {% load static %} {% load bootstrap4 %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>NKB Mic Bank</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar fixed-top">
  <a class="navbar-brand" href="{%url 'index'%}">
    <img class="logo" src="/static/images/nkb_logo.jpg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="color:white;" class="nav-link" href="{%url 'index'%}">Home <span class="sr-only">(current)</span></a>
      </li>
          {% if user.is_authenticated and user.is_superuser %}
        <a style="color:white;" class="nav-link" href="{%url 'new_client'%}">New Client</a>
          <a style="color:white;" class="nav-link" href="{%url 'client_list'%}">Client List</a>
        <a style="color:white;" class="nav-link" href="{%url 'register'%}">New User</a>
        <a style="color:white;" class="nav-link" href="{%url 'registered_users'%}">View Users</a>
        <a style="color:white;" class="nav-link" href="{%url 'profile' user.username%}">Profile</a>
      <a style="color:white;" class="nav-link" href="/logout">Logout</a>
      {% else %}
      <li class="nav-item">
        <a style="color:white;" class="nav-link" href="{%url 'login'%}">Admin Login</a>
      </li>

        {% endif %}

    </ul>
    {% if user.is_authenticated and user.is_superuser %}
    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" class="form-control" name="name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}
  </div>
</nav>
<!--<style media="screen">-->
<!--.logo{-->
<!--height:50px;-->
<!--width:120px;-->
<!--}-->
<!--@media screen and (max-width:650px){-->
<!--.logo{-->
<!--height:35px;-->
<!--width:60px;-->
<!--}-->
<!--}-->
<!--  </style>-->
{% endblock %}