{%extends 'base.html'%} {%load static%} {%block content%} {% load bootstrap4 %}
<head>
  <link rel="stylesheet" href="{% static 'css/new_client.css' %}">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
</head>
<body style="background-color:;">
    {%include 'sidebar.html'%}

{%include 'navbar.html'%}

<br>
        <div class="container">
         <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>New Client</h2>
        <div class="underline-title"></div>
      </div>
      <form method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
<input id="submit-btn" type="submit" name="submit"  />
      </form>
    </div>
  </div>
    </div>

</body>

{%endblock%}