{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}
<!DOCTYPE html>
<html lang="en">
<title>MKB Mic Bank</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
<div class="container">
          {%for profile_item in user_profile%}
        <div id="card-content">
        <div id="card-title">
      <h2>Logged In As {{profile_item.user}}</h2>
        <div class="underline-title"></div>
    <br>
  <h4>Loans Given By {{profile_item.user}}</h4>
    <div class="underline-title"></div>
    </div>
      {%endfor%}

    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">ID Number</th>
      <th scope="col">Loan Date</th>
        <th scope="col">Loan Balance</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {%for post_item in lender_list%}
    <tr>
      <th scope="row"></th>
      <td><a href="{{ post_item.get_absolute_url }}">{{post_item.name}}<a/></td>
      <td>{{post_item.id_number}}</td>
      <td>{{post_item.loan_collection_date}}</td>
        <td>KSH{{post_item.loan_balance}}/=</td>
        <td><a href="{{ post_item.get_absolute_url }}"><button type="button" class="btn btn-info" name="button">Details</button></a></td>
        <td><a href="{% url 'update-client' post_item.pk %}"><button type="button" class="btn btn-success" name="button">Update</button></a></td>

    </tr>
     {%endfor%}

  </tbody>
          <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Total</th>
      <th scope="col"></th>
      <th scope="col"></th>
        <th scope="col">{{total}}</th>
        <th scope="col"></th>
    </tr>
  </thead>
</table>
</div>
</div>

{%include 'footer.html'%}


</body>
</html>
{%endblock%}