{%extends 'base.html'%} {% load static %} {%block content%} {% load bootstrap4 %} {{ block.super}}
<!DOCTYPE html>
<html lang="en">
<title>MKB Mic Bank</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body style="margin-top: 170px;">
<div class="container">
          {%for profile_item in user_profile%}
          <h2>Logged In As {{profile_item.user}}</h2>
        <br>
      <h4>Loans Given By {{profile_item.user}}</h4>
      {%endfor%}

    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">ID Number</th>
      <th scope="col">Loan Date</th>
        <th scope="col">Loan Balance</th>
    </tr>
  </thead>
  <tbody>
   {%for post_item in lender_list%}
    <tr>
      <th scope="row"></th>
      <td><a href="{{ post_item.get_absolute_url }}">{{post_item.name}}<a/></td>
      <td>{{post_item.id_number}}</td>
      <td>{{post_item.loan_collection_date}}</td>
        <td>KSH{{post_item.loan_balance}}/=</td>
    </tr>
     {%endfor%}

  </tbody>
</table>
      </div>
</body>

{%endblock%}