    <div class="sidenav" id="sidenav">
    <ul>
        <h5 class="cate" style=" color:white;">Dashboard</h5>
        <li><a href="{%url 'index'%}">Home</a></li>
        <li><a href="{%url 'new_client'%}">Add New Client</a></li>
        <li><a href="{%url 'client_list'%}">Client List</a></li>
        <li><a href="{%url 'profile' user.username%}">Profile</a></li>
        <li><a href="/logout">Log Out</a></li>

    </ul>
  </div>

<style media="screen">
#sidenav {
margin-top: 40px;
height: 100%;
width: 180px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 35px;
}

#sidenav a {
padding: 3px 5px 3px 13px;
text-decoration: none;
font-size: 15px;
color: white;
display: block;
}

#sidenav a:hover {
color: #f1f1f1;
}
li {
    padding: 5px;
    list-style: none;
}
@media screen and (max-width:650px){
#sidenav {
margin-top: 45px;
height: 17%;
width: 78px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 20px;
}
ul { padding:0 }

#sidenav a {
padding: 1px 2px 1px 3px;
text-decoration: none;
font-size: 10px;
color: white;
display: block;
}

#sidenav a:hover {
color: #f1f1f1;
}
    }
</style>